.root {
    background-color: #0041a0;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 15px 30px;
    margin: 20px 0;
    min-height: 42px;
    cursor: pointer;
    border: none;
}

.root:hover {
    background-color: #003f96;
}

.root:active {
    background-color: #00245d;
}